<footer>
  <div>
    <!-- Logo -->
    <a href="/">MapApp</a>
  </div>
  <div>
    <!-- Left side of footer -->
    <p>
      Call to action <span><a href="MapApp"></a></span> about why the app is so
      amazing
    </p>
  </div>
  <div>
    <!-- Right side of footer -->
    <p>Contact info</p>
    <p>Copyright info</p>
  </div>
</footer>
