  <footer>
    <div class="footer">
      <a href="/" class="logo">
        <img
          id="logo"
          src="images/1bda1f0a63de48b3b70449b61cab4250-removebg-preview.png"
          alt="MapApp-Logo"
        />
      </a>
      <div>
        <!-- Left side of footer -->
        <!-- <p>
          Call to action <span><a href="MapApp"></a></span> about why the app is
          so amazing
        </p> -->
        <p>© 2022, MapApp. All rights reserved.</p>
      </div>
      <div>
        <!-- Right side of footer -->
        <p>info@mapapp.com</p>
        <!-- <p>Copyright info</p> -->
      </div>
    </div>
  </footer>
</html>
