<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/dist/styles.css" type="text/css" />

    <!-- JavaScript -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/register.js"></script>
    />
  </head>

  <footer>
    <div>
      <!-- Logo -->
      <a href="/">MapApp</a>
    </div>
    <div>
      <!-- Left side of footer -->
      <p>
        Call to action <span><a href="MapApp"></a></span> about why the app is
        so amazing
      </p>
    </div>
    <div>
      <!-- Right side of footer -->
      <p>Contact info</p>
      <p>Copyright info</p>
    </div>
  </footer>
</html>
