


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <header class="nav">
        <!-- the top nav bar -->
        <a href="/" style="text-decoration:none"><h1>WikiMap</h1></a>
        <a href="/maps" style="text-decoration:none">Maps</a>
        <br>
        <a href="/categories" style="text-decoration:none">Categories</a>
        <br>
        <input placeholder="Search"/>
        <br>
        <a href="/login" style="text-decoration:none">Login</a>
        <br>
        <a href="/register" style="text-decoration:none">Register</a>
      </header>
      <body>
  </head>
