<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
  </head>
  <!-- the top nav bar -->
  <header>
    <nav>
      <div>
        <div>
          <a href="/"><h1 class="">MapApp</h1></a>
        </div>
        <div>
          <a href="/maps">Maps</a>
          <br />
          <a href="/explore">Explore</a>
          <br />
          <input placeholder="Search" />
        </div>
        <div>
          <a href="/login">Login</a>
          <br />
          <a href="/register">Register</a>
        </div>
      </div>
    </nav>
  </header>
</html>
