


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <header class="nav">
        <!-- the top nav bar -->
        <h1>WikiMap
          <a href="/"></a>
        </h1>
        <a href="/maps">Maps</a>
        <br>
        <a href="/categories">Categories</a>
        <br>
        <input placeholder="Search"/>
        <br>
        <a href="/login">Login</a>
        <br>
        <a href="/register">Register</a>
      </header>
      <body>
  </head>
