<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/styles.css" />

    <!-- JavaScript -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
     <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/register.js"></script>
    <script type="text/javascript" src="/scripts/login.js"></script>
    <script type="text/javascript" src="/scripts/logout.js"></script>
    <script type="text/javascript" src="/scripts/maps.js"></script>
    <script type="text/javascript" src="/scripts/explore.js"></script>

    <script
      src="https://kit.fontawesome.com/c8790bc55d.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <!-- the top nav bar -->
  <header>
    <nav class="top-nav">
      <a href="/" class="logo">
        <img
          id="logo"
          src="images/1bda1f0a63de48b3b70449b61cab4250-removebg-preview.png"
          alt="MapApp-Logo"
        />
      </a>
      <div>
        <ul class="nav-links">
          <li class="nav-item"><a href="/maps"> Maps </a></li>
          <li class="nav-item"><a href="/explore"> Explore </a></li>
          <li class="nav-item"><a href="/new_map"> Create </a></li>
          <li class="nav-item"><a href="/register"> Register </a></li>
          <li class="nav-item"><a href="/login"> Login </a></li>

          <!-- <li class="nav-item">
            <a href="/login"><i class="fa-regular fa-user"></i></a>
          </li>
          <li class="nav-item">
            <a href="/explore"><i class="fa-solid fa-magnifying-glass"></i> </a>
          </li> -->
          <!-- <li class="nav-item"> <a href="/login"> Login </a></li>
            <li class="nav-item"> <a href="/register"> Register </a></li> -->
        </ul>
      </div>
    </nav>
  </header>
</html>

<!-- <div class="dropdown-content">
  <a href="#">Link 1</a>
  <a href="#">Link 2</a>
  <a href="#">Link 3</a>
  </div> -->
