<!DOCTYPE html>
<html lang="en">
  <head>
    <title>New Map Page</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/dist/styles.css" type="text/css" />

    <!-- JavaScript -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/register.js"></script>
    <script type="text/javascript" src="/scripts/newMap.js"></script>

    <!-- Leaflet -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin=""
    />

    <script
      src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
      integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
      crossorigin=""
    ></script>
  </head>

  <body>
    <%- include('partials/_header')%>
    <h1 id="create-mp">Create Map Point</h1>
    <section>
      <form class="test-map" action="/createMapPoints" method="post">
        <input name="title" placeholder="title" />
        <input name="image" placeholder="image URL" />
        <input name="description" placeholder="description" />
        <input name="latitude" placeholder="latitude" />
        <input name="longitude" placeholder="longitude" />
        <button type="submit">Submit</button>
      </form>
    </section>
    <div style="height: 900px" id="maps-section2"></div>

    <!-- <div style="height: 900px" id="new-map"></div> -->
    <footer><%- include('partials/_footer')%></footer>
  </body>
</html>

<script>
  const map10 = L.map("maps-section2").setView(
    [43.7507918304109, -79.58469815531056],
    15
  );
  L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
    attribution:
      '&copy; <a href="https://www.openstreetmap.org/copyright%22%3EOpenStreetMap</a> contributors',
  }).addTo(map10);
</script>
