<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to MapApp</title>

    <!-- Leaflet -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin=""
    />
    <script
      src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
      integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
      crossorigin=""
    ></script>
  </head>

  <body>
    <!-- header partial -->
    <header><%- include('partials/_header')%></header>
    <main>
      <!-- **** Featured Maps Section Begins ****  -->

      <!-- Featured Map 1 -->
      <section class="featured-maps">
        <article id="feature-map-1">
          <li>
            <a href="/map link"></a>
            <h1>Map 1</h1>
            <p>Text description about map 1</p>
            <img src="/" alt="Map 1" />
          </li>
        </article>
        <!-- Featured Map 2 -->
        <section class="feature-row">
          <article id="feature-map-2">
            <li>
              <a href="/map link"></a>
              <h1>Map 1</h1>
              <p>Text description about map 1</p>
              <img src="/" alt="Map 1" />
            </li>
            <!-- <a href="/map2"></a>
            <h1>Map 2</h1>
            <p>Text description about map 2</p>
            <img src="/" alt="Map 2" /> -->
          </article>

          <!-- Featured Map 3 -->
          <article id="feature-map-3">
            <!-- <a href="/map3"></a>
            <h1>Map 3</h1>
            <p>Text description about map 3</p>
            <img src="/" alt="Map 3" /> -->
          </article>
        </section>
      </section>
      <!-- **** Featured Maps Section Ends **** -->

      <!-- **** MapApp Features/'Call to action' Section Begins ****  -->
      <!-- MapApp Features, Section 1/2  -->
      <!-- <section class="mapapp-feature1">
        <div class="feature-text">
          <li>
            <h1>Feature 1</h1>
            <h4>Subheader of F1</h4>
            <p>Description of F1</p>
          </li>
        </div>
        <div class="feature-img">
          <img src="/" alt="Cool illustration of F1" />
        </div>
      </section> -->
      <!-- MapApp Features, Section 2/2  -->
      <!-- <section class="mapapp-feature2">
        <div class="feature-text">
          <li>
            <h1>F2</h1>
            <h4>F2</h4>
            <p>F2</p>
          </li>
        </div>
        <div class="feature-img">
          <img src="/" alt="Cool illustration of F2" />
        </div>
      </section>
      MapApp Call To Action -->
      <!-- <section class="c2a">
        <div>
          <article>
            <div>
              <h1>CTA</h1>
              <h4>Subheader of CTA</h4>
              <p>Description of CTA</p>
              <button>CTA</button>
            </div>
          </article>
        </div>
      </section> -->
      <!-- **** MapApp Feature Section Ends **** -->

      <!-- Footer partial -->
      <footer><%- include('partials/_footer')%></footer>
    </main>

    <script>
      const map = L.map("feature-map-1").setView(
        [43.7507918304109, -79.58469815531056],
        15
      );
      L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
        attribution:
          '&copy; <a href="https://www.openstreetmap.org/copyright%22%3EOpenStreetMap</a> contributors',
      }).addTo(map);
    </script>
    <script>
      const map2 = L.map("feature-map-2").setView(
        [43.7507918304109, -89.58469815531056],
        15
      );
      map2.invalidateSize();
      L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
        attribution:
          '&copy; <a href="https://www.openstreetmap.org/copyright%22%3EOpenStreetMap</a> contributors',
      }).addTo(map2);
    </script>
    <script>
      const map3 = L.map("feature-map-3").setView(
        [43.7507918304109, -79.58469815531056],
        15
      );
      map3.invalidateSize();
      L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
        attribution:
          '&copy; <a href="https://www.openstreetmap.org/copyright%22%3EOpenStreetMap</a> contributors',
      }).addTo(map3);
    </script>
  </body>
</html>
