<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>
<header class="nav">
  <!-- the top nav bar -->
  <h1>WikiMap</h1>
  <a href="/maps">Maps</a>
  <br>
  <a href="/categories">Categories</a>
  <br>
  <a href="/register">Register</a>
  <br>
  <input placeholder="Search"/>
  <br>
  <a href="/login">Login</a>
</header>

<body>
  <main class="features">
<!-- features section(With images of topic) -->
  <section><img src=""></section>
  <section><img src=""></section>
  <section><img src=""></section>
  <a href="new_map">
  <button class="create">Create Map</button>
  </a>

<!-- tell us about(feature 1/2) -->
  <article><img src="">
    tell us about(feature 1)

  </article>

  <article><img src="">
    tell us about(feature 2)
  </article>

  </main>
  <footer>
    &copyWikiMap copyright 2022 by Group 2 at Lighthouse Labs
  </footer>
</body>

</html>
