<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login Page</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/dist/styles.css" type="text/css" />

    <!-- JavaScript -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/register.js"></script>
  </head>

  <body>
    <!-- Header partial -->
    <header><%- include('partials/_header')%></header>
    <!-- Main login section -->
    <main>
      <div>
        <h1>Login</h1>
        <form method="" action="/profile">
          <label for="inputPassword">Email address</label>
          <input
            type="email"
            class="form-control"
            placeholder="Email"
            name="email"
          />
          <label for="inputPassword">Password</label>
          <input
            type="password"
            class="form-control"
            placeholder="Password"
            name="password"
          />
          <br />
          <button type="submit">Login</button>
        </form>
      </div>
    </main>
    <!-- Footer partial -->
    <footer><%- include('partials/_footer')%></footer>
  </body>
</html>
