<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Maps Page</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/dist/styles.css" type="text/css" />

    <!-- JavaScript -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/register.js"></script>
    <script type="text/javascript" src="/scripts/mapsMarker.js"></script>

    <!-- Leaflet -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin=""
    />
    <script
      src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
      integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
      crossorigin=""
    ></script>
  </head>

  <body>
    <header><%- include('partials/_header')%></header>
    <main>
      <!-- Map Section -->
      <form class="test-map">
      <input type="text" name="title">
      <button type="submit">Submit</button>
      </form>
      <main>
      <section class="container"></section>
      <section>
        <div style="height: 900px" id="maps-section"></div>
      </section>


      <!-- TESTING LIST SECTION DO NOT TOUCH -->
      <section class="maps"></section>
      <!-- DO NOT TOUCH -->
      <!-- <section>
        <div style="height: 900px" id="maps-section2"></div>
      </section> -->
    </main>
    <footer><%- include('partials/_footer')%></footer>
  </body>
</html>

<script>
////WORKING ON LISTING SECTION////////////////////////////////////////////////////////////////////
$.get('/api/mapPoints').then(data => {
  let x = 0
// console.log('data:', data)
  data.maps.map(item => {
    x++
    console.log('THIS IS ITEM', item.latitude, item.longitude)
   const div = $('<div>').attr('id', 'maping')
    // console.log('This is divID', div.id = 'maping' + x)
    console.log('This is div', div)
    let addID = 'maping' + x
    //Has the id maping adding one for each map in the database
    console.log('this is addID', addID)
    div.id = addID;
     console.log('div test', div)
    //   const map = L.map(addID).setView(
    // [item.latitude, item.longitude], 10);
    // return map;
    let map = {
      id: item.id,
      latitude: item.latitude,
      longitude: item.longitude
    }

    const map = L.map("maps-section").setView(
    [43.7507918304109, -79.58469815531056],
    10
  );
  L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
    attribution:
      '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
  }).addTo(map);

  // console.log('this is map', map)
  // L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
  //   attribution:"maps-section"
  //     '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
  // }).addTo(map);
    })
    console.log(array)

    // $(div).prepend(map)
  })

//////////////////////////////////////////////////////////////////////////////////////////////////

///This is first MAP
  // const map = L.map("maps-section").setView(
  //   [43.7507918304109, -79.58469815531056],
  //   10
  // );
  // L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
  //   attribution:
  //     '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
  // }).addTo(map);

///Testing loop
  // array.map((m) => {
  //   let p = L.map(`maps-section-${m.id}`).setView(
  //   [m.latitude, m.longitude],
  //   10
  // );
  // L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
  //   attribution:
  //     '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
  // }).addTo(p);
  // console.log("p:", p)
  // })
  // console.log(map);

  //Search bar
  $('.test-map').on('submit', function(e) {
    e.preventDefault();
    const title = $(this).find('input').val()
    $.post('/api/mapPoints', {title})
    .then(resp => {
      console.log(resp)
        for (const item of resp.maps) {
          map.panTo(new L.LatLng(item.latitude, item.longitude));
        }
      })
    })


</script>
