<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Maps Page</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/dist/styles.css" type="text/css" />

    <!-- JavaScript -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/register.js"></script>
    <script type="text/javascript" src="/scripts/mapsMarker.js"></script>

    <!-- Leaflet -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin=""
    />
    <script
      src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
      integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
      crossorigin=""
    ></script>
  </head>

  <body>
    <header><%- include('partials/_header')%></header>
    <main>
      <section class="maps-db">
        <h3>Please search for the maps listed below:</h3>
        <div class="mapName"></div>
      </section>
      <!-- Map Section -->
      <form class="test-map">
      <input type="text" name="title">
      <button type="submit">Submit</button>
      </form>

      <main>
      <section class="container"></section>
      <section>
        <div style="height: 900px" id="maps-section"></div>
      </section>
      <section class="maps"></section>
    </main>
    <footer><%- include('partials/_footer')%></footer>
  </body>
</html>
<script>
///Map
  const map = L.map("maps-section").setView(
    [43.7507918304109, -79.58469815531056],
    15
  );
  L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
    attribution:
      '&copy; <a href="https://www.openstreetmap.org/copyright%22%3EOpenStreetMap</a> contributors',
  }).addTo(map);
  //Search bar
  $('.test-map').on('submit', function(e) {
    e.preventDefault();
    const title = $(this).find('input').val()
    $.post('/api/mapPoints', {title})
    .then(resp => {
      console.log(resp)
        for (const item of resp.maps) {
          map.panTo(new L.LatLng(item.latitude, item.longitude));
        }
      })
    })
</script>
