#popup-img {
  max-width: 20vw;
  max-height: 20vh;
}

#maps-section2 {
  max-width: 90vw;
  max-height: 72vh;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.5em;
}

#create-mp {
  text-align: center;
}
