@import "./variables";

.top-nav {
  display: flex;
  justify-content: space-between;
  height: 5em;
  align-items: center;
  background-color: whitesmoke;
  #logo {
    display: flex;
    max-height: 110px;
    align-items: center;
    max-width: 110px;
  }
  .nav-links {
    list-style: none;
    display: flex;
  }
  .nav-item a {
    display: flex;
    padding: 10px 15px;
    text-decoration: none;
    color: RGB(184, 149, 255);
  }
  #user-fill {
    margin: 0.67em;
  }
  #logout-btn {
    margin: 0.6em;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  padding: 10px;
  background-color: whitesmoke;
  #logo {
    display: flex;
    max-height: 110px;
    align-items: center;
    max-width: 110px;
  }
}
