// Global Variables
$font: Helvetica, sans-serif;
$font-color-body: grey;
$font-size-body: 3em;
$font-color-title: rgb(85, 84, 84);
$font-size-title: 5em;
$background: rgb(214, 212, 212);

// Header Variables

// Footer Variables

// Index Variables

// Login/Register Variables

// Maps/New Maps Variables

// Profile Variables

// My Maps Variables
